<div class="message-input">
    <form ng-submit="submitForm(message)" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" required name="message" ng-model="message.content" placeholder="Enter Message">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
<br />
<br />
<br />
<div class="messages">
    <div class="panel panel-default" ng-repeat="message in messages">
        <div class="panel-body">{{ message.content }} - <span class="delete"><a href="#" ng-click="onDelete(message)">Delete</a></span></div>
    </div>
</div>